.Disponible,
.NoDisponible:hover {
  font-family: inherit;
  padding: 0.2rem 1rem;
  width: 100%;
  cursor: pointer;
  color: #f97979;
  background-color: white;
  border: 1px solid #f97979;
  border-radius: 5px;
  outline-style: none;
}
.Disponible:hover,
.NoDisponible {
  font-family: inherit;
  padding: 0.2rem 1rem;
  width: 100%;
  cursor: pointer;
  color: white;
  background-color: #e96969;
  border: 1px solid #000000;
  border-radius: 5px;
  outline-style: none;
}
