.Dulce {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  transition: transform 0.1s ease;
}
.Dulce:hover {
  transform: scale(1.01);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.568);
}
.Info {
  padding: 1em;
  font-size: 12px;
}
.InfoTexto {
  font-style: italic;
}
.Image {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
}
.Boton {
  width: 50px;
  margin: auto;
}
