.Boton {
  font-family: inherit;
  padding: 0.5rem 1rem;
  border: 1px solid #002e20;
  cursor: pointer;
  color: white;
  background-color: #f97979;
  border-radius: 15px;
  outline-style: none;
}
.Boton:hover {
  background-color: #e96969;
}
